#headerFloat > .header {
    font-size: 20px;
    margin: 22px 20px 22px 20px;
    font-weight: bold;
}

#headerFloat > .hoverClick:hover {
    cursor: pointer;
}

#intro > div {
    padding: 3px 0px 3px;
    width: 600px;
}

#aboutMe > div {
    padding: 6px;
}

.divLink {
    color: blue;
    text-decoration: underline;
}

#coding::-webkit-scrollbar-thumb {
    background-color: red;
}

hr {
    width: 98vw
}

.containerAboutMe {
    padding: 3vh 13vw;
}

#portfolioHeader {
    position: fixed;
    top: 0;
    left: 50vw;
    transform: translate(-50%, 0);
    background-color: #ECF0F1;
    z-index: 9999;
}

#portfolioName {
    color: #007500;
    font-size: 23px;
    position: absolute;
    left: 8%;
    top: 0%;
    margin: 22px 20px 22px 20px;
    font-weight: bold;
}

#previewToggle {
    position: absolute;
    font-size: 28px;
    left: 80%;
    top: 0%;
    margin: 22px 20px 22px 20px;
    font-style: italic;
    color: #df148b;
}

#aboutMeIntro {
    font-size: 29px;
    width: 32vw;
    transform: translate(20vw, 0);
    padding: 22vh 0;
}

#aboutMePiano {
    font-size: 29px;
    width: 75vh;
    padding: 22vh 5vw;
}

#aboutMeRunning {
    font-size: 29px;
    width: 75vh;
    padding: 22vh 5vw;
}

.containerCoding {
    padding: 3vh 12vw;
}

.subContainerCoding {
    font-size: 29px;
    width: 75vh;
    padding: 20vh 2vw;
}

.subContainerCodingSmall {
    font-size: 22px;
    width: 75vh;
    padding: 20vh 2vw;
}

.subContainerCoding > div {
    padding: .8vh 2vw
}

.subContainerCodingSmall > div {
    padding: .5vh 2vw
}

#codingInternship {
    font-size: 29px;
    width: 75vh;
    padding: 20vh 2vw;
}

#codingIC {
    font-size: 29px;
    width: 75vh;
    padding: 20vh 2vw;
}

#codingProjects {
    font-size: 29px;
    width: 75vh;
    padding: 20vh 2vw;
}

.containerProjects {
    padding: 3vh 8% 50px;
    font-size: 29px;
}

.containerContactInfo {
    padding: 10vh 150px 100px;
}

.containerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTextAlignCenter {
    text-align: center;
}

.underneath {
    z-index: 1;
}

.frontPageSnippet {
    padding: 2%;
}

.portfolioPic {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.icon {
    width: 2.2em;
    height: 2.2em;
    padding: 2px;
}

.icon:hover {
    opacity: .35;
    cursor: pointer;
}

.linkPreview {
    display: none;
    position: fixed;
    border: 1px solid #000;
    width: 60vw;
    height: 70vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.chinese {
    color: #fa9124;
}

.italicWord {
    font-style: italic;
    color: #0099FF;
}

.special {
    color: #db0056;
}

.special:link {
    text-decoration: none;
}

#sidebar {
    top: 0;
    bottom: 0;
}

#pianoPlaying {
    width: 540px;
    height: 304px;
}

#nycMarathon2019 {
    width: 400px;
    height: 500px;
}

#mazeMarkings {
    width: 691px;
    height: 387px;
}

#ic2024q1 {
    width: 600px;
    height: 400px;
}

#vocabGif {
    width: 675px;
    height: 450px;
}


.codingBlock {
    padding: 3.75cvh 0;
}

.divList {
    /*   
    text-decoration: underline;
    */
    color: #db3eb1;
}

.codingContext {
    color: #189a18;
}

.ideology {
    color: #b0b000;
}

.company {
    color: #d1a441;
}